################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vinyl.GetDataJob/bin/
/Vinyl.GetDataJob/obj/
/.vs
/Vinyl.GetDataJob.Tests/bin/
/Vinyl.GetDataJob.Tests/obj/
/Vinyl.GetDataJob/Logs
/Vinyl.GetDataJob/Properties/PublishProfiles
/Vinyl.Common/bin/
/Vinyl.Common/obj/
/Vinyl.Metadata/bin/
/Vinyl.Metadata/obj/
/Vinyl.GetDataJob/Vinyl.GetDataJob.csproj.user
/Vinyl.GetDataJob/bin
/Vinyl.GetDataJob/Logs
