################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vinyl.ParsingJob/bin/
/Vinyl.ParsingJob/obj/
/.vs
/Vinyl.ParsingJob.Tests/bin/
/Vinyl.ParsingJob.Tests/obj/
/Vinyl.ParsingJob/Logs
/Vinyl.ParsingJob/Properties/PublishProfiles
/Vinyl.Common/bin/
/Vinyl.Common/obj/
/Vinyl.Metadata/bin/
/Vinyl.Metadata/obj/
/Vinyl.GetDataJob/Vinyl.GetDataJob.csproj.user
/Vinyl.GetDataJob/bin
/Vinyl.GetDataJob/Logs
/obj
/Vinyl.Kafka.Lib/obj
/Vinyl.Kafka.Lib/bin
*.user
