################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GetDataJob/bin/
/GetDataJob/obj/
/.vs
/GetDataJob.Tests/bin/
/GetDataJob.Tests/obj/
