@page
@model ContactModel
@{
    ViewData["Title"] = "Контакт";
    ViewData["PageClass"] = "landing-page";
}

<div class="header header-small-filter" style="background-image:url(/img/vinyl/landing.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="profile">
                    <div class="avatar">
                        <img src="~/img/ava.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
                    </div>
                    <div class="name">
                        <h3 class="title">JonniU</h3>
                        <h6>Разработчик на .net</h6>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>
                    Full-stack программист с большим опытом разработки различных систем, сайтов, мобильных и десктоп приложений.
                    За свой карьерный опыт прошел все ступени программиста.
                    Владею всеми вопросами: написание ТЗ; организация команды; разработка и поддержка рабочего продукта; внедрение; сопровождение.
                    Владею большинством технологий .NET. Работаю с базами данными SQL и NoSQL, программировал приложения на Android и WindowsMobile.
                    <br />
                    Главные принципы - быстро, качественно, стабильно и с творческим подходом.
                    <br />
                    Все исходники в открытом доступе, понимающие могут ознакомится - <a href="https://github.com/martinchik/vinyl">GitHub</a>
                </p>

                <h4 class="text-success">
                    Если есть вопросы/предложения, пожалуйста, обращайтесь.
                </h4>

                <address>
                    <strong>e-mail:</strong> <a href="mailto:developer.jonniu@gmail.com ">developer.jonniu@gmail.com </a><br />
                </address>

            </div>
            <div class="text-center" style="margin-bottom: 20px;">
                <style>
                    .bmc-button img {
                        width: 27px !important;
                        margin-bottom: 3px !important;
                        box-shadow: none !important;
                        border: none !important;
                        vertical-align: middle !important;
                    }

                    .bmc-button {
                        line-height: 41px !important;
                        height: 41px !important;
                        text-decoration: none !important;
                        display: inline-block !important;
                        color: #ffffff !important;
                        background-color: #BB5794 !important;
                        border-radius: 3px !important;
                        border: 1px solid transparent !important;
                        padding: 0px 9.5px !important;
                        font-size: 24px !important;
                        letter-spacing: 0.6px !important;
                        box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
                        -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                        -o-transition: 0.3s all linear !important;
                        -moz-transition: 0.3s all linear !important;
                        -webkit-transition: 0.3s all linear !important;
                        -ms-transition: 0.3s all linear !important;
                        transition: 0.3s all linear !important;
                        margin: 0 auto !important;
                        font-family: "Cookie",sans-serif !important;
                    }

                        .bmc-button:hover, .bmc-button:active, .bmc-button:focus {
                            -webkit-box-shadow: 0 4px 16px 0 rgba(190, 190, 190,.45) !important;
                            text-decoration: none !important;
                            box-shadow: 0 4px 16px 0 rgba(190, 190, 190,.45) !important;
                            opacity: 0.85 !important;
                            color: #ffffff !important;
                        }
                </style><link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/martinchik"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>
            </div>
        </div>
    </div>
</div>

